body 
{
    margin: 0;
    padding: 0; 
}
header
{
    background-image: url('Banner_web.png');
    height: 15vh;
    display:flex;
    justify-content: space-between;
}
.tituloHeader
{
   
    font-family: Arial, Helvetica, sans-serif;
}
.verCarrito
{
    align-items: center;
    background-color: antiquewhite;
    height: 100%;
}
main 
{
    background-color: #ffffff;
    height: 100vh;

}

.titulo_armatupedido
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.productos{
    grid-area: modal-container;
    display:flex;
    justify-content: space-around; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* NO FUNCIONA*/
.card {
    background-color: #fad9ef;
    border: 1px solid #f098e8; 
    padding: 65px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
footer
{
    background-image: url('Banner_web.png');
    height: 35vh;
    display: flex;
    
}

.modal-container
{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color:#ffffff;
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top:12vh;
}

.totalCompra
{
    font-size:35px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;

}
.modal-header
{
    display:flex;
}
button
{
    cursor:pointer;
}
.delete-product
{
    cursor:pointer;
}
