*
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
header
{
    background-image: url('Banner_web.png');
    height: 15vh;
    display:flex;
    justify-content: space-between;
}
.tituloHeader
{
    font-family: Arial, Helvetica, sans-serif;
}
.verCarrito
{
    align-items: center;
    background-color: antiquewhite;
    height: 100%;
}
main 
{
    background-color: rgb(230, 230, 230);
    height: 130vh;

}

.titulo_armatupedido
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.productos{
    grid-area: modal-container;
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card {
    background-color: #fad9ef;
    border: 1px solid #f098e8; 
    padding: 65px; 
    border-radius: 25px; 
        line-height: 1.5;

}
footer
{
    display:flex;
    background-color: rgb(230, 230, 230);
    height: 25vh;
}

.modal-container
{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color:#000000;
    background-color: #fad9ef;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top:15vh;
    max-height: 80vh;
    overflow-y: auto;
}
.carritoContent
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: px;
    text-align:20 center;
    padding-top: 15px;
    padding-left: 15px;
    
}
.total-content
{
    font-size:35px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}
h6
{
    font-size:20px;
}
.modal-header
{
    display:flex;
    justify-content: space-between;
    font-size:15px;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
}
button
{
    cursor:pointer;
}
.delete-product
{
    cursor:pointer;
}
.sumar
{
    cursor:pointer;
}
.restar
{
    cursor:pointer;
}
.footer
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-weight: 700;
}